* {
    font-family: 'Dancing Script', cursive;
}

h1 {
    color: blue;
   
    font-size: 60px;;
}

.red {
    color : red;
}

.header {
    display: flex;
    
    justify-content: center;
    margin-top: 20%;
}